node_modules
/.vscode
dist
!packages/vdm/**/dist
.DS_Store
coverage
/lerna-debug.log
/packages/vdm/index.js
*.tgz
**credentials.json
.idea/*
.nyc_output
documentation/
packages/**/package-lock.json

packages/**/test-results.xml
packages/generator-rest/test/generated/**

# to circumenvent integrity erros when testing artifacts from snapshot nexus
e2e-test/backend/e2e-provider-app/package-lock.json

packages/type-tests/report.*.json

tsconfig.tsbuildinfo
junit.xml
packages/vdm
generator-input/
generator-output/
e2e-test/frontend/cypress/videos/*.mp4
e2e-test/frontend/cypress/screenshots/*.png
e2e-test/frontend/cypress/results/test-output.xml
/e2e-test/cypress.env.json
/e2e-test/deployment
.env
/e2e-test/cypress/videos
/e2e-test/cypress/results
/e2e-test/cypress/screenshots

.npmrc
package-lock.json
